<!DOCTYPE html>
<html ng-app="templateTest">
<head>
    <meta charset="utf-8">
    <title>Template Test</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
    </script>
    <style>
    	input.ng-invalid {
    		background-color: pink;
    	}
    	input.ng-valid {
    		background-color: green;
    	}
    </style>
</head>
<body>
	<form>
	    <label for="first_name">First Name</label>
	    <input type="text" id="first_name" ng-model="user.firstName" minlength="2" maxlength="50" required>

	    <label for="last_name">Last Name</label>
	    <input type="text" id="last_name"  ng-model="user.lastName" minlength="2" maxlength="50" required>

	    <label for="email">eMail</label>
	    <input type="email" id="email" ng-model="user.email" required>

	    <label for="password">Password</label>
	    <input type="password" id="password" ng-model="user.password" minlength="5">
	</form>
	<div>
	    Welcome {{ user.firstName }} {{ user.lastName }}<br>
	    We will send a confirmation eMail to {{ user.email }}
	</div>
    <script type="text/javascript" src="js/templateTest.js"></script>
</body>
</html>